/* Show utterances block */
.utterances {
  height: 300px;
}

/* Correct table alignment */
.rst-content table.docutils td, .rst-content table.field-list td, .wy-table td {
    vertical-align: top;
}

/* Fix bullet size in tables */
td>ul>li>p {
    line-height: 1rem;
    margin-bottom: 0;
    font-size: .9rem;
}

td>ul {
  margin-bottom: 0px !important;
}

/* Add underline to links */
a {
  text-decoration: underline;
}

/* Exceptions to link underlining */
.wy-menu a,
.wy-side-nav-search a,
.wy-breadcrumbs a.icon,
h2 a,
h3 a,
h4 a {
  text-decoration: none;
}

/* Add bold to links with focus */
a:hover, a:focus {
  font-weight: bold;
}

/* Exceptions to link bold */
.ethical-sidebar a:hover,
.ethical-sidebar a:focus {
  font-weight: normal;
}

/* Add bold to menu items with hover/focus */
.wy-menu-vertical li ul li a:hover,
.wy-menu-vertical li ul li a:focus {
  font-weight: bold;
}

/* Add missing focus state to menu */
.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.current a:focus {
    background: #d6d6d6;
}

/* Override readthedocs theme with DataCite colors and improve contrast */

/* Replace grey with #404040 in footer, footnotes */
footer,
.rst-content footer span.commit tt, footer span.commit .rst-content tt, footer span.commit code,
.rst-content table.docutils.footnote, html.writer-html4 .rst-content table.docutils.citation, html.writer-html5 .rst-content dl.footnote {
    color: #404040;
}

/* Replace #d9d9d9 with #F5F5F5 (color) */
.wy-menu-vertical a,
.wy-menu-vertical a:hover button.toctree-expand,
.wy-menu-vertical a:focus button.toctree-expand,
.wy-menu-vertical li ul li a {
    color: #F5F5F5;
}

/* Replace #2980b9 with #007EAE (background-color)  */
.wy-side-nav-search,
.wy-side-nav-search img {
    background-color: #007EAE;
}

/* Replace #2980b9 with #005B80 (background)  */
.wy-nav-top,
.wy-tray-container li.wy-tray-item-info {
    background: #005B80;
}

/* Replace #2980b9 with #005B80 (background) and add focus state */
.wy-dropdown-menu>dd>a:hover,
.wy-dropdown-menu>dd>a:focus,
.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:hover,
.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:focus {
    background: #005B80;
}

/* Replace #2980b9 with #005B80 (background-color)  */
.wy-nav-top img,
.wy-menu-vertical a:active {
    background-color: #005B80;
}

/* Replace #2980b9 with #005B80 (background-color) and add focus state */
.wy-nav .wy-menu-vertical a:hover,
.wy-nav .wy-menu-vertical a:focus {
    background-color: #005B80;
}

/* Replace #2980b9 with #005B80 (background-color - !important) */
.btn-info {
    background-color: #005B80!important;
}

/* Replace #2980b9 with #005B80 (color)  */
.rst-versions a,
.rst-content a code, .rst-content a tt,
html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt,
.wy-nav .wy-menu-vertical header,
.wy-inline-validate.wy-inline-validate-info .wy-input-context,
a,
.rst-content .wy-alert-neutral.admonition-todo a, .rst-content .wy-alert-neutral.admonition a, .rst-content .wy-alert-neutral.attention a, .rst-content .wy-alert-neutral.caution a, .rst-content .wy-alert-neutral.danger a, .rst-content .wy-alert-neutral.error a, .rst-content .wy-alert-neutral.hint a, .rst-content .wy-alert-neutral.important a, .rst-content .wy-alert-neutral.note a, .rst-content .wy-alert-neutral.seealso a, .rst-content .wy-alert-neutral.tip a, .rst-content .wy-alert-neutral.warning a, .wy-alert.wy-alert-neutral a,
.btn-link {
   color: #005B80;
}

/* Replace #2980b9 with #005B80 (color - !important)  */
.wy-text-info {
    color: #005B80!important;
}


/* Replace #6ab0de with #0097C7 */
html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    border-top: 3px solid #0097C7;
}
html.writer-html4 .rst-content dl:not(.docutils)>dt:before, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt:before {
    color: #0097C7;
}

/* Replace #6ab0de with #007EAE */
.rst-content .admonition-title, .wy-alert-title {
    background: #007EAE;
}
.rst-content .note .admonition-title, .rst-content .note .wy-alert-title, .rst-content .seealso .admonition-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .admonition-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .rst-content .wy-alert-info.attention .admonition-title,
.rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .admonition-title,
.rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-info .admonition-title,
.wy-alert.wy-alert-info .rst-content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title {
    background: #007EAE;
}

/* Replace #e7f2fa with #EBF8FF (background) */
html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt,
.rst-content .guilabel,
.rst-content .admonition, .rst-content .admonition-todo, .rst-content .attention, .rst-content .caution, .rst-content .danger, .rst-content .error, .rst-content .hint, .rst-content .important, .rst-content .note, .rst-content .seealso, .rst-content .tip, .rst-content .warning, .wy-alert,
.rst-content .note, .rst-content .seealso, .rst-content .wy-alert-info.admonition, .rst-content .wy-alert-info.admonition-todo, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip,
.rst-content .wy-alert-info.warning, .wy-alert.wy-alert-info {
    background: #EBF8FF;
}

/* Replace #4e4a4a with #3E556E (background-color) and add focus state */
.wy-menu-vertical a:hover,
.wy-menu-vertical a:focus {
    background-color: #3E556E;
}

/* Replace #3091d1 with #23527c (color) and add focus state */
.wy-nav-content a:hover,
.wy-nav-content a:focus {
    color: #23527c;
}

.wy-side-nav-search>div.version {
  color: white;
}
